/* #skillsList-up {
  animation: goUp 1s ease-out 0s forwards;
}

#skillsList-down {
  animation: goDown 1s ease-out 0s forwards;
} */

#about-my-skills {
  height: 100vh;
  width: 100vw;
  background-color: #202124;
}

/* @keyframes goUp {
  to {
    margin-top: -100vh;
  }
}

@keyframes goDown {
  to {
    margin-top: 0vh;
  }
} */
